@font-face {
  font-family: "Lato Black";
  src: url("../assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* ROOT */
:root {
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
  font-family: "Lato Black";

  color: rgb(98, 98, 185);
}

ul {
  list-style: none;
}

/*  PAGE LAYOUT*/
#app {
  min-height: 100vh;

  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 300px 5fr;
  grid-template-rows: auto 1fr auto;
}

#header {
  grid-area: header;

  background-color: rgb(98, 98, 185); /*SUBJECT TO CHANGE*/
  color: white;

  font-size: 3rem;
  padding: 1rem;
}

#aside {
  grid-area: aside;

  border-right: 2px solid rgb(98, 98, 185);
  padding: 2rem;

  color: rgb(98, 98, 185);
}

.tab-list,
.sidebar-project-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tab {
  font-size: 1.4rem;
  padding-left: 2rem;
}

.tab:hover,
.tab-active {
  border-left: 3px solid #6262b9;
}

.all-projects-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-project-list-header {
  font-size: 1.8rem;
  flex: 1;
}

.add-project-btn {
  background: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.add-project-btn:hover {
  transform: scale(1.1);
}

.sidebar-project-list {
  padding-left: 1.5rem;
  max-height: 200px;
  overflow-y: auto;
}

.sidebar-project-item {
  display: flex;
  justify-content: space-between;
}

.project-name {
  display: flex;
}

.delete-project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-project-btn img {
  width: 100%;
  height: 100%;
}

#main {
  grid-area: main;
}

.main-add-modal-btn {
  background-image: url("../assets/images/icons8-plus-50.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.dynamic-display {
  width: 100%;
  height: 95%;
}

.task-list,
.project-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  height: 100%;

  padding: 2rem;

  max-height: 100%;
  overflow-y: auto;
}

.task-container,
.project-container {
  background-color: rgb(240, 239, 239);
  padding: 1rem;

  display: flex;
  align-items: center;

  gap: 20px;
}

.project-container {
  background-color: #6262b9;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0;

  border-radius: 10px;
  position: relative;
}

.project-container-stats {
  font-size: 0.7rem;
  padding: 0;
  border: 0;
  word-spacing: 10px;
  margin: 0;
}

.project-container * {
  color: white;
}

.task-container:hover,
.project-container:hover {
  transform: scale(1.01);
  transition: 150ms;
  box-shadow: 3px 8px 6px -6px rgba(98, 98, 185, 0.5);
}

.completed-task {
  text-decoration: line-through;
}

.completed-task-container {
  opacity: 65%;
}

.task-title {
  flex: 1;
}

.task-duedate {
  font-size: 0.7rem;
}

.option-btns-container {
  height: 1.5rem;

  display: flex;
  gap: 0.3rem;
}

.icon-btn {
  background-color: transparent;
  width: 1.5rem;
  height: 100%;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon {
  width: 100%;
  height: 100%;
}

.add-task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50rem;

  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #6262b9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-header h3 {
  font-size: 2rem;
  color: white;
}

.modal-body {
  padding: 2rem;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 3px solid #6262b9;
}

.add-form,
.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-form input:focus,
.edit-task-form input:focus,
.edit-task-form textarea:focus,
.add-form textarea:focus {
  border: none;
  outline: none;
}

#task-name,
#task-description,
#project-name {
  font-size: 1.5rem;
  resize: none;
}

.task-properties-container {
  display: flex;
  gap: 1.5rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#duedate {
  border: 1px solid #6262b9;
  padding: 5px;
  border-radius: 5px;
}

.input-container label {
  font-size: 1rem;
}

.modal-form-btn {
  background-color: #6262b9;
  color: white;

  width: 40%;
  padding: 0.3rem 0;
  border-radius: 5px;
  font-size: 1.2rem;

  align-self: center;
}

.priority-btn {
  padding: 0.2rem 0.5rem;
  border: solid 1px;
  border-radius: 5px;
  background-color: transparent;
}

.high-btn {
  border-color: red;
  color: red;
}

.high-btn:hover,
.high-selected {
  color: white;
  background-color: red;
}

.none-btn {
  border-color: #9e9e9e;
  color: #9e9e9e;
}

.none-btn:hover,
.none-selected {
  color: white;
  background-color: #9e9e9e;
}

.low-btn {
  border-color: #1c8f68;
  color: #1c8f68;
}

.low-btn:hover,
.low-selected {
  color: white;
  background-color: #1c8f68;
}

#project-select {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.details-container {
  border: 2px solid white;
  border-radius: 1rem;
  background-color: #6262b9;

  width: 50rem;
  height: auto;
  padding: 2rem;
  z-index: 20;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.details-container * {
  color: white;
}

.details-header {
  position: relative;
}

.task-details-title {
  font-size: 3rem;
}

.close-details-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  right: 0;
}

.details-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-task-modal {
  width: 50rem;
}

#footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  background-color: rgb(98, 98, 185);
  color: white;
}

.icon-credits {
  color: white;
  font-size: 0.6rem;
}

.creator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 0.6rem;
}

.creator-container p {
  color: white;
}

.github-container {
  width: 1.2rem;
  height: 1.2rem;

  display: block;
}

.github-container:hover {
  opacity: 60%;
}

.github-container img {
  width: 100%;
  height: 100%;
}

/* UTILS */

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
  content: "helo";
}

.hide {
  display: none;
}

.high {
  border-left: 5px solid red;
}

.none {
  border-left: 5px solid #9e9e9e;
}

.low {
  border-left: 5px solid #1c8f68;
}

.overdue {
  color: red;
}

.interactable-ui-item {
  cursor: pointer;
}
