@font-face {
  font-family: "Lato Black";
  src: url("../assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* ROOT */
:root {
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
  font-family: "Lato Black";

  color: rgb(98, 98, 185);
}

ul {
  list-style: none;
}

/*  PAGE LAYOUT*/
#app {
  min-height: 100vh;

  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
}

#header {
  grid-area: header;

  background-color: rgb(98, 98, 185); /*SUBJECT TO CHANGE*/
  color: white;

  font-size: 3rem;
  padding: 1rem;
}

#aside {
  grid-area: aside;

  border-right: 2px solid rgb(98, 98, 185);
  padding: 2rem 3rem;

  color: rgb(98, 98, 185);
}

.tab-list,
.sidebar-project-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tab {
  font-size: 1.4rem;
  padding-left: 2rem;
}

.tab:hover,
.tab-active {
  border-left: 3px solid rgb(98, 98, 185);
}

.sidebar-project-list-header {
  font-size: 1.5rem;
}

.sidebar-project-list {
  padding-left: 1.5rem;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  padding: 1rem;

  background-color: rgb(98, 98, 185);
  color: white;
}

.project-container {
  background-color: rgb(124, 38, 38);
  padding: 5px;
  color: white;
  display: block;
  margin-bottom: 10px;
}

.task-container {
  background-color: rgb(187, 173, 173);
  padding: 20px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.form {
  position: absolute;
  bottom: 20px;
  background-color: rgb(109, 37, 37);
  padding: 10px;
}

.add-project-form {
  bottom: 70px;
}

.edit-task-form {
  bottom: 500px;
  left: 500px;
}

/* UTILS */

.hide {
  display: none;
}

.high {
  background-color: red;
}

.none {
  background-color: aquamarine;
}

.low {
  background-color: rgb(146, 146, 146);
}
